
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
}

body,html{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: rgb(255, 255, 255);
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.ui {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
}

.content {
  width: 1500px;
  background-color: rgba(17, 25, 40, 0.71);
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  overflow: hidden;
  z-index: 9999999;
  border-radius: 7px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vehicles{
  width: 100%;
  height: 550px;
}

.vehicle {
  display: inline-block;
  width: 23%;
  height: 90%;
  background: rgba(87, 87, 87, 0.2);
  margin-top: 1.5vw;
  margin-left: 1.1vw;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.20);
  transition: all 0.2s ease 0s;
}

.vehicle:hover{
  background: rgba(87, 87, 87, 0.4);
}

.vehicle .header{
  width: 80%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 35px;
}

.vehicle .header .header-title {
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}

.vehicle .header .header-description {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.vehicle .image{
  width: 100%;
  height: 50%;
}


.vehicle .image img{
  margin: 0 auto;
  width: 70%;
  margin-left: 50px;
}

.vehicle .footer{
  width: 80%;
  height: 25%;
  margin-bottom: 5px;
  text-align: left;
  padding: 35px;
}

.vehicle .footer .footer-type{
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(110, 110, 110);
  opacity: 0.6;
} 

.vehicle .footer .footer-price{
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 2px;
} 